@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:active {
  text-decoration: none;
}

.btn, .product_box-content > a, .message > a, .single > .product > .description > .col-2-price > div > button, .modal_box > div > .col-2 > a, .total_cart > div > a, .btn_checkout {
  cursor: pointer;
  background: #ff4500;
  padding: 10px 25px;
  display: block;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 20px #e1e1e1;
          box-shadow: 0 0 20px #e1e1e1;
}

.btn > svg, .product_box-content > a > svg, .message > a > svg, .single > .product > .description > .col-2-price > div > button > svg, .modal_box > div > .col-2 > a > svg, .total_cart > div > a > svg, .btn_checkout > svg {
  margin-right: 10px;
}

.btn:hover, .product_box-content > a:hover, .message > a:hover, .single > .product > .description > .col-2-price > div > button:hover, .modal_box > div > .col-2 > a:hover, .total_cart > div > a:hover, .btn_checkout:hover {
  background: red;
}

.btn:active, .product_box-content > a:active, .message > a:active, .single > .product > .description > .col-2-price > div > button:active, .modal_box > div > .col-2 > a:active, .total_cart > div > a:active, .btn_checkout:active {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

body {
  background: #fefeff;
}

/* width */
::-webkit-scrollbar {
  width: 5.5px;
  height: 5.5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4500;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productContainer {
  margin: auto;
  width: 70%;
  padding: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productContainer > h2 {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 600;
}

@-webkit-keyframes selectBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes selectBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes selectSpin {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
    opacity: 1;
    border-width: 5px;
  }
  75% {
    opacity: 0.5;
    border-width: 3px;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

@keyframes selectSpin {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
    opacity: 1;
    border-width: 5px;
  }
  75% {
    opacity: 0.5;
    border-width: 3px;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product_box {
  margin-bottom: 40px;
  width: 210px;
  text-align: center;
}

.product_box-thumb {
  border-radius: 10px;
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product_box-thumb > h2 {
  font-size: 14px;
  padding: 10px;
  color: #fff;
}

.product_box-thumb > .fav_btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff6e;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.product_box-thumb > .fav_btn > span {
  opacity: 0;
}

.product_box-thumb > .active {
  color: #ff4500;
  -webkit-animation: selectBtn 0.85s;
          animation: selectBtn 0.85s;
}

.product_box-thumb > .active > span {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 30px;
  border: 3px dotted #ff4500;
  top: -8.5px;
  left: -10px;
  -webkit-animation: selectSpin 1s;
          animation: selectSpin 1s;
}

.product_box-content > div {
  padding: 10px 0;
}

.product_box-content > div > span {
  display: block;
}

.product_box-content > div > span:nth-of-type(1) {
  font-size: 12px;
}

header {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

header > .topHeader {
  text-align: center;
  background: #ff4500;
  padding: 10px 0;
  font-size: 12px;
}

header > .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

header > .container > .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 28px;
  font-weight: 900;
  padding: 0 10px;
}

header > .container > .logo > a > img {
  width: 80%;
}

header > .container > .form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header > .container > .form > form {
  border-bottom: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header > .container > .form > form::after {
  content: "";
  height: 1px;
  background: red;
  width: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header > .container > .form > form > input {
  padding: 10px 15px;
  width: 100%;
  border: 0;
}

header > .container > .form > form > button {
  background: transparent;
  border: 0;
  color: #cacaca;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header > .container > .form > .active {
  border-bottom: 1px solid #ff4500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .container > .form > .active::after {
  width: 100%;
}

header > .container > .form > .active > button {
  color: #ff4500;
}

header > .container > .menu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header > .container > .menu > ul {
  text-align: center;
}

header > .container > .menu > ul > li {
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header > .container > .menu > ul > li > a > svg {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #ededed;
  margin-right: 5px;
}

header > .container > .menu > ul > li:hover {
  background: whitesmoke;
}

header > .container > .menu > ul > li:hover > a > svg {
  color: #ff4500;
}

header > .container > .cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

header > .container > .cart > a {
  font-size: 26px;
  color: #ff4500;
  position: relative;
}

header > .container > .cart > a > span {
  top: 0;
  right: -15px;
  position: absolute;
  background: #000;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  color: #fff;
}

footer {
  width: 100%;
}

footer > div {
  text-align: center;
}

footer > div:nth-of-type(1) {
  background: #ff4500;
  padding: 60px 0;
}

footer > div:nth-of-type(1) > p {
  font-size: 12px;
  padding: 20px 0;
}

footer > div:nth-of-type(1) > ul > li {
  display: inline-block;
  padding: 5px;
  font-size: 21px;
}

footer > div:nth-of-type(2) {
  padding: 10px 0;
}

footer > div:nth-of-type(2) > img {
  width: 70px;
}

.message {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message > img {
  width: 120px;
  margin-bottom: 20px;
}

.message > p {
  font-size: 12px;
}

.message > a {
  display: inline-block;
  margin-top: 20px;
}

.title {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid #f0f0f0;
  display: block;
}

.title > .breadcrumbs {
  display: block;
  padding: 10px 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5c5c5c;
}

.title > .breadcrumbs > a > svg {
  color: #ff4500;
}

.single > .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single > .product > .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 40px;
}

.single > .product > .description > div {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

.single > .product > .description > div:last-child {
  border-bottom: 0;
}

.single > .product > .description > .col-2-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.single > .product > .description > .col-2-price > div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single > .product > .description > .col-2-price > div:nth-of-type(2) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.single > .product > .description > .col-2-price > div > button:disabled {
  opacity: 0.5;
}

.single > .product > .description > .col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
}

.single > .product > .description > .col-2 > div {
  font-size: 14px;
}

.single > .product > .description > .col-2 > div:nth-of-type(1) {
  font-weight: 700;
}

.single > .product > .description > .col-2 > div > div {
  padding: 5px 0;
}

.single > .product > .description > .col-2 > div > .sku {
  font-size: 12px;
}

.single > .product > .description > .col-2 > div > .price > span {
  display: block;
}

.single > .product > .description > .col-2 > div > .price > span:nth-of-type(1) {
  font-size: 12px;
}

.single > .product > .description > .col-2 > div > .price > span:nth-of-type(2) {
  font-size: 21px;
}

.single > .product > .description > .col-2 > div > p {
  font-weight: 200;
}

.single > .product > .description > .qnt > div:nth-of-type(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single > .product > .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.single > .product > .img > div {
  height: 480px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.addItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  width: 120px;
}

.addItem > span {
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 2.5px;
  color: #ff4500;
  cursor: pointer;
  font-size: 18px;
}

.addItem > input {
  border: 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  -moz-appearance: textfield;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.modalAlert {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  z-index: -1;
}

.modalAlert > div {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  position: absolute;
  background: #fff;
  opacity: 0;
  top: 20px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

.modal > div {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  opacity: 1;
  top: 120px;
}

.modal_box > div {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 480px;
}

.modal_box > div > .close_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}

.modal_box > div > .close_modal > button {
  background: transparent;
  padding: 5px 15px;
  border: 0;
  color: gray;
}

.modal_box > div > .description {
  border-top: 1px solid #d0d0d0;
  padding: 20px 0 10px 0;
}

.modal_box > div > .description > div > svg {
  font-size: 28px;
  color: #ff4500;
  margin-bottom: 20px;
}

.modal_box > div > .description > p {
  font-size: 14px;
  padding: 5px 0;
}

.modal_box > div > .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.modal_box > div > .col-2 > a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  font-size: 14px;
  padding: 10px 15px;
}

.modal_box > div > .col-2 > a:nth-of-type(1) {
  background: #f0f0f0;
  color: #000;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 0 30px #f0f0f0;
          box-shadow: 0 0 30px #f0f0f0;
}

.cart_page > .container {
  display: block;
}

.cart_section {
  padding: 0 0 40px 0;
}

.cart_section > .container {
  display: block;
}

table {
  width: 100%;
}

table > thead {
  padding: 15px 0;
}

table > thead > tr > th {
  padding: 10px 0;
  font-weight: 900;
  color: #f73535;
}

.tableRow > th {
  padding: 10px 0;
  border-top: 1px solid #e4e4e4;
}

.tableRow > .img > div {
  height: 90px;
  width: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.tableRow > .qnt {
  text-align: center;
}

.tableRow > .qnt > .addItem {
  margin: auto;
}

.tableRow > .delete > button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.tableRow > .delete > button > svg {
  margin-right: 10px;
  color: #ff4500;
}

.total_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e4e4e4;
}

.total_cart-value {
  font-size: 21px;
}

.total_cart-value > span:nth-of-type(1) {
  font-weight: 900;
}

.fadeOut {
  opacity: 0;
  width: 100px;
  height: 100px;
  -webkit-transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.checkout_page > .container {
  display: block;
}

.checkout_section {
  padding: 0 0 40px 0;
}

.checkout_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout_section > .container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.checkout_section > .container > .checkout_form > div > div:nth-of-type(1) {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0;
}

.checkout_section > .container > .checkout_form > div > div:nth-of-type(1) > h3 > svg {
  color: #ff4500;
  font-size: 14px;
  padding: 2.5px;
}

.checkout_section > .container > .checkout_form > div > div:nth-of-type(2) {
  padding: 20px 0;
}

.checkout_section > .container > .checkout_form > div > div:nth-of-type(2) > div {
  padding: 7.5px 0;
}

.checkout_section > .container > .checkout_form > div > div > div > label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.checkout_section > .container > .checkout_form > div > div > div > input,
.checkout_section > .container > .checkout_form > div > div > div > select {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  border: 0;
  background: #f0f0f0;
}

.checkout_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout_order > .checkout_ticket {
  width: 70%;
}

.checkout_order > .checkout_ticket > .checkout_paper {
  -webkit-box-shadow: 2px 15px 10px #e2e2e2ed;
          box-shadow: 2px 15px 10px #e2e2e2ed;
  background: #fef9da;
  padding: 25px 35px;
}

.checkout_order > .checkout_ticket > .checkout_paper > h4 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 21px;
}

.checkout_order > .checkout_ticket > .checkout_paper > div {
  padding: 20px 0;
  border-bottom: 1px solid #d0d0d0;
}

.checkout_order > .checkout_ticket > .checkout_paper > div:last-child {
  border-bottom: 0;
}

.checkout_order > .checkout_ticket > .checkout_paper > .subtotal > span,
.checkout_order > .checkout_ticket > .checkout_paper > .total > span {
  display: block;
}

.checkout_order > .checkout_ticket > .checkout_paper > .total > span:nth-of-type(2) {
  font-size: 21px;
}

.checkout_order > .checkout_ticket > .order_scratch {
  height: 15px;
  background-size: cover;
  background-position: center;
}

.btn_checkout {
  display: inline-block;
}

.address > div {
  padding: 5px 0;
}

.address > div > label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.address > div > input,
.address > div > select {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  border: 0;
  background: #f0f0f0;
}

.address > .col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 5px 0;
}

.address > .col-2 > div > label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.address > .col-2 > div > input,
.address > .col-2 > div > select {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  border: 0;
  background: #f0f0f0;
}

.is_mobile {
  display: none;
}

.loading {
  padding: 40px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .btn, .product_box-content > a, .message > a, .single > .product > .description > .col-2-price > div > button, .modal_box > div > .col-2 > a, .total_cart > div > a, .btn_checkout {
    font-size: 12px;
  }
  .is_mobile {
    display: block;
  }
  .container {
    width: 90%;
  }
  header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  header > .container > .logo {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 4fr 2fr;
        grid-template-columns: 2fr 4fr 2fr;
    text-align: center;
    padding: 5px 0;
  }
  header > .container > .logo > div {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header > .container > .logo > .favorites > a > svg {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #ededed;
    margin-right: 5px;
  }
  header > .container > .logo > .favorites:hover > a > svg {
    color: #ff4500;
  }
  header > .container > .logo > .cart {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  header > .container > .logo > .cart > a {
    font-size: 26px;
    color: #ff4500;
    position: relative;
  }
  header > .container > .logo > .cart > a > span {
    top: 0;
    right: -15px;
    position: absolute;
    background: #000;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    color: #fff;
  }
  header > .container > .form {
    width: 90%;
  }
  header > .container > .menu {
    display: none;
  }
  header > .container > .cart {
    display: none;
  }
  .container {
    width: 75%;
  }
  .productContainer {
    width: 75%;
  }
  .product {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product_box {
    width: 100%;
  }
  .single > .product {
    display: block;
  }
  .single > .product > .img > div {
    height: 320px;
  }
  .single > .product > .description {
    padding: 10px;
  }
  .single > .product > .description > .col-2 {
    display: block;
  }
  .checkout_section > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkout_section > .container > div:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .checkout_section > .container > div:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  .checkout_order > .checkout_ticket {
    width: 95%;
  }
  footer > div > p {
    width: 90%;
    margin: auto;
  }
  .cart_section > .container {
    width: 90%;
  }
  .cart_section > .container > table {
    display: block;
  }
  .cart_section > .container > table > thead {
    display: none;
  }
  .cart_section > .container > table > tbody {
    display: block;
  }
  .cart_section > .container > table > tbody > .tableRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_section > .container > table > tbody > .tableRow > th:last-child {
    border: 0;
  }
  .cart_section > .container > table > tbody > .tableRow > .img > div {
    width: 100%;
    height: 240px;
  }
  .message {
    padding: 30px 0 90px 0;
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .total_cart {
    display: block;
    text-align: center;
    width: 80%;
    border: 0;
    margin: auto;
  }
  .total_cart > div {
    margin-top: 10px;
  }
  .total_cart > div > a {
    padding: 15px 25px;
    font-size: 18px;
  }
  .btn_checkout {
    padding: 15px 25px;
    font-size: 18px;
  }
  .fadeOut {
    width: 100%;
    height: 450px;
    -webkit-transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  }
}

@media only screen and (max-width: 540px) {
  .productContainer {
    width: 90%;
  }
  .container {
    width: 90%;
  }
  .modal_box > div {
    width: 90%;
  }
  .modal_box > div > .col-2 {
    display: block;
  }
}
/*# sourceMappingURL=App.css.map */